.nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    z-index: 1;
    transition: all .4s;
}

.nav__black {
    background-color: #111;
}

img {
    max-height: 25px;
}

.nav__avatar {
    position: fixed;
    right: 20px;
}